.alert {
    @include border-radius(5px);
    border-width: 1px;
    padding: 15px;

    &.alert-danger {
        background: rgba($danger, 0.5);
        color: $white;
        border-color: $danger;
    }
}
