.button {
    padding: 14px 38px;
    font-size: 18px;
    @include border-radius(4px);
    @include transition(all .3s ease);
    outline: 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &.navy {
        border: 2px solid $navy;
        background: $navy;
        color: $white;

        &:hover {
            background: transparent;
            border-color: $navy;
            color: $navy;
        }
    }

    &.inverted {
        border: 2px solid $white;
        background: transparent;
        color: $white;

        &:hover {
            background: $white;
            color: $black;
        }
    }

    &.button-small {
        padding: 10px 28px;
    }
}
