.form-group {
    margin-bottom: 15px;
}

.form-input {
    background: $white;
    color: $black;
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid $light-gray;
    @include border-radius(3px);
    @include transition(all .3s ease);

    &:focus {
        outline: none;
        border-color: $gray;
    }

    &.form-block {
        width: 100%;
    }
}