*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: calc(100% - 40px);
    margin: 0 auto;

    @include respond-to('large') {
        max-width: 1170px;
    }
}