// Helpers
.clickable {
    cursor: pointer;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.no-outline {
  outline: 0;
}

.text-center {
    text-align: center;
}

.grid-container {
    width: 100%;
    max-width: 1200px;

    & .row {
        &:before, &:after {
            content:"";
            display: table ;
            clear:both;
        }

        [class*='col-'] {
            float: left;
            min-height: 1px;
            width: 16.66%;
            padding: 12px;
        }

        .col-1{ width: 100%; }
        .col-2{ width: 100%; }
        .col-3{ width: 100%; }
        .col-4{ width: 100%; }
        .col-5{ width: 100%; }
        .col-6{ width: 100%; }


        @include respond-to('medium') {
            .col-1 {
                width: 16.66%;
            }
            .col-2 {
                width: 33.33%;
            }
            .col-3 {
                width: 50%;
            }
            .col-4 {
                width: 66.66%;
            }
            .col-5 {
                width: 83.33%;
            }
            .col-6 {
                width: 100%;
            }
        }

        @include respond-to('large') {
            .col-1 {
                width: 16.66%;
            }
            .col-2 {
                width: 33.33%;
            }
            .col-3 {
                width: 50%;
            }
            .col-4 {
                width: 66.66%;
            }
            .col-5 {
                width: 83.33%;
            }
            .col-6 {
                width: 100%;
            }
        }
    }
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

// Floating
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

// Spacing helpers
.mt0 {
    margin-top: 0;
}

.mt22 {
    margin-top: 22px;
}

.mt30 {
    margin-top: 30px;
}

.mr20 {
    margin-right: 20px;
}

.mb0 {
    margin-bottom: 0;
}

.mb15 {
    margin-bottom: 15px;
}

.pt65 {
    padding-top: 65px;
}

.pb65 {
    padding-bottom: 65px;
}

.pb95 {
    padding-bottom: 95px;
}

.p20 {
    padding: 20px;
}

// Position helpers
.position-absolute {
    position: absolute;
}

.position-absolute-vertical {
    top: 50%;
    transform: translateY(-50%);
}

// Absolute position helpers
.top30 {
    top: 30px;
}

.right30 {
    right: 30px;
}

// Font size helpers
.font-2rem {
    font-size: 2rem;
}

// Thumbnails
.thumbnail {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;

    &.circle {
        @include border-radius(50%);
    }

    & img {
        width: 100%;
        height: auto;
    }
}
