.listing {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;

    & .list-item {
        width: 100%;
        padding: 20px;
        clear: both;
        margin-bottom: 20px;
        background: $white;
        border: 1px solid $light-gray;
        @include border-radius(4px);
    }
}