.header {
    background: url("/assets/img/recipe-header-image.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 550px;
    position: relative;

    & .nav-bar {
        width: calc(100% - 40px);
        margin: 0 auto;

        @include respond-to('large') {
            width: 1170px;
        }

        & .nav-brand {
            margin-top: 50px;
            float: left;
            outline: none;
            cursor: pointer;

            @include respond-to('large') {
                margin-left: 0;
            }

            & img {
                width: 180px;
                height: auto;
            }
        }

        & .mobile-nav-button {
            float: right;
            margin-top: 58px;
            cursor: pointer;

            @include respond-to('large') {
                display: none;
            }

            & .menu {
                font-weight: 700;
                color: $white;
                float: left;
            }

            & .nav-burger {
                float: left;
                width: 20px;
                height: 30px;
                margin-left: 13px;
                margin-top: 3px;

                & span {
                    height: 3px;
                    width: 100%;
                    background: $white;
                    margin-bottom: 3px;
                    display: block;
                }
            }
        }

        & .main-nav {
            position: absolute;
            background: $white;
            width: 100%;
            height: calc(100vh);
            z-index: 10;
            right: -100%;
            @include transition(all .3s ease);

            @include respond-to('large') {
                position: relative;
                right: 0;
                background: transparent;
                float: right;
                width: auto;
                height: auto;
            }

            &.active {
                right: 0;
            }

            .close-nav {
                @include respond-to('large') {
                    display: none;
                }
            }

            & .mobile-nav-heading {
                margin: 50px 0 0 70px;
                font-size: 3rem;

                @include respond-to('large') {
                    display: none;
                }
            }

            & .nav-items {
                list-style: none;
                margin: 0;
                padding: 50px 0 0 70px;

                @include respond-to('large') {
                    display: block;
                    padding: 0;
                }

                & li {
                    display: block;

                    @include respond-to('large') {
                        display: inline-block;
                    }

                    & a {
                        color: $black;
                        text-decoration: none;
                        display: block;
                        font-size: 2rem;

                        @include respond-to('large') {
                            color: $white;
                            display: inline-block;
                            font-size: 1rem;
                            padding: 60px 15px;
                        }

                        &.active {
                            &:after {
                                content: '';
                                width: 100%;
                                height: 1px;
                                background: $white;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    & .header-content {
        position: absolute;
        max-width: calc(100% - 80px);
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        transform: translateY(-50%);

        @include respond-to('large') {
            max-width: 1170px;
        }

        & h1 {
            font-size: 45px;
        }

        & p {
            font-size: 16px;
        }
    }
}