// Headings

h1, h2, h3, h4, h5, h6 {
    font-family: $rakkas;
}

* {
    font-family: $sourceSans;
}

.text-decoration-none {
    text-decoration: none;
}

.font-weight-bold {
    font-weight: bold;
}