// Fonts
$rakkas:        'Rakkas', cursive;
$sourceSans:    'Source Sans Pro', sans-serif;

// Colors
$white:         #FFFFFF;
$black:         #000000;
$danger:        red;
$gray:          #8c96ae;
$lighter-gray:  #f7f9fa;
$light-gray:    #e3e3e3;
$yellow:        #c5b75b;
$navy:          #1e293c;

// Base

body {
    margin: 0;
    background: $lighter-gray;
}