<div class="container">
  <h1 class="text-yellow">Please fill in our contact form to get in touch!</h1>
  <div class="grid-container">
    <div class="row">
      <div class="col-4">
        <form [formGroup]="contactForm" (ngSubmit)="submitForm(contactForm.value)" novalidate>
          <div class="form-group">
            <label class="display-block">Your name</label>
            <input type="text" class="form-input form-block" formControlName="name" placeholder="Type your name">
          </div>
          <div *ngIf="contactForm.controls['name'].invalid && (contactForm.controls['name'].dirty || contactForm.controls['name'].touched)" class="alert alert-danger">
            <div *ngIf="contactForm.controls['name'].errors.required">
              Name is required.
            </div>
          </div>
          <div class="form-group">
            <label class="display-block">Your email</label>
            <input type="email" class="form-input form-block" formControlName="email" placeholder="Type your email">
          </div>
          <div *ngIf="contactForm.controls['email'].invalid && (contactForm.controls['email'].dirty || contactForm.controls['email'].touched)" class="alert alert-danger">
            <div *ngIf="contactForm.controls['email'].errors.required">
              Email is required.
            </div>
          </div>
          <div class="form-group">
            <label class="display-block">Your number</label>
            <input type="text" class="form-input form-block" formControlName="contact" placeholder="Type your contact number">
          </div>
          <div *ngIf="contactForm.controls['contact'].invalid && (contactForm.controls['contact'].dirty || contactForm.controls['contact'].touched)" class="alert alert-danger">
            <div *ngIf="contactForm.controls['contact'].errors.required">
              Number is required.
            </div>
          </div>
          <div class="form-group">
            <label class="display-block">Your message</label>
            <textarea type="text" class="form-input form-block" formControlName="message" placeholder="Type your message"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="button navy clickable">Send</button>
          </div>
        </form>
      </div>
      <div class="col-2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4260.779957202426!2d28.072139448757426!3d-26.10301209999794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9572d48fba75e9%3A0x6b548aac57374c7b!2sFCB!5e0!3m2!1sen!2sza!4v1529782687481" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
