<header class="header">
    <nav class="nav-bar">
        <div class="nav-brand" routerLink="/">
            <img src="/assets/img/hellofoodlogo.png" alt="HelloFood">
        </div>
        <div class="mobile-nav-button" (click)="mobileNavOpen = true">
            <div class="menu">
                Menu
            </div>
            <div class="nav-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="main-nav" [ngClass]="{'active' : mobileNavOpen === true}">
            <div class="close-nav pull-right position-absolute right30 top30 font-2rem clickable" (click)="mobileNavOpen = false">
                <i class="fa fa-times"></i>
            </div>
            <div class="mobile-nav-heading">
                Menu
            </div>
            <ul class="nav-items">
                <li>
                    <a routerLink="" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" (click)="mobileNavOpen = false">
                        Intro
                    </a>
                </li>
                <li>
                    <a routerLink="/recipes" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" (click)="mobileNavOpen = false">
                        Recipe
                    </a>
                </li>
                <li>
                    <a routerLink="/contact" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" (click)="mobileNavOpen = false">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="header-content">
        <h1 class="text-white mb0">{{ pageTitle }} Title here</h1>
        <p class="text-white mt0 mb15">Sub title herer</p>
    </div>
</header>
