<div class="container">
  <h1 class="text-yellow">
    Welcome to the recipe app!
  </h1>
  <p>Use our recipe app to browse through thousands of recipes and never run out of new ideas when trying to cook something for dinner.</p>
  <div class="grid-container">
    <div class="row">
      <div class="col-2">
        <a routerLink="/recipes" class="text-decoration-none">
          <img src="/assets/img/Browned-Butter-Honey-Garlic-Salmon-IMAGE-14.jpg" class="responsive-image" alt="Garlic Salmon">
          <h2 class="text-center text-navy">Browse Recipes</h2>
        </a>
      </div>
      <div class="col-2">
        <a routerLink="/contact" class="text-decoration-none">
          <img src="/assets/img/Creamy-Garlic-Parmesan-Chicken-Mushroom-Bacon-7.jpg" class="responsive-image" alt="Garlic Chicken">
          <h2 class="text-center text-navy">Contact us</h2>
        </a>
      </div>
      <div class="col-2">
        <a href="https://instagram.com/hellocomputersa/" class="text-decoration-none">
          <img src="/assets/img/One-Pot-Garlic-Tuscan-Chicken-Mac-And-Cheese-IMAGE-32.jpg" class="responsive-image" alt="Pot Chicken">
          <h2 class="text-center text-navy">Instagram</h2>
        </a>
      </div>
    </div>
  </div>
</div>
