<div class="container">
  <h1 class="text-yellow pull-left">Recipes</h1>
  <section class="mb15 mt22 pull-right">
    <input type="text" class="form-input" [(ngModel)]="searchText" placeholder="Search">
  </section>
  <section>
    <ul class="listing">
      <li class="list-item" *ngFor="let recipe of recipes | filter : searchText">
        <div class="grid-container">
          <div class="row">
            <div class="col-2">
              <div class="thumbnail circle">
                <img src="{{ 'http://localhost:3000/recipe-images/' + recipe.image.filename }}" alt="{{ recipe.title }}">
              </div>
            </div>
            <div class="col-4">
              <div class="list-content">
                <h2 class="mt0 text-yellow clickable no-outline" routerLink="/recipes/detail/{{ recipe._id }}">{{ recipe.title }}</h2>
                <div [innerHTML]="recipe.description.brief"></div>
                <div class="display-block">
                  <button type="button" class="button navy button-small" routerLink="/recipes/detail/{{ recipe._id }}">View recipe</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>
