<footer class="footer bg-white pt65 pb95">
  <div class="container">
    <div class="pull-left">
      <img src="/assets/img/hellofoodlogo-footer.png" alt="Hello Food">
    </div>
    <div class="pull-right">
      <a href="tel:+27 21 555 5555" class="text-navy text-decoration-none mr20 font-weight-bold">+27 21 555 5555</a>
      <a href="mailto:info@hellocomputer.com" class="text-navy text-decoration-none font-weight-bold">info@hellocomputer.com</a>
    </div>
  </div>
</footer>
